!!!5
%html
  %head
    %title Lower Polk Neighbors
    %link(href='/css/style.css' type='text/css' rel='stylesheet')
  %body
    .wrapper
      .nav
        %a(href='/')
          %img(src='/images/logo.gif' alt='Lower Polk Neighbors')
        %ul
          %li
            %a(href='/') &raquo; HOME
          %li
            %a(href='/about.html') &raquo; ABOUT US
          %li
            %a(href='/bylaws.html') &raquo; BY-LAWS
          %li
            %a(href='/officers_and_committees.html') &raquo; OFFICERS & COMMITTEES
          %li
            %a(href='/agendas_notes.html') &raquo; MEETING AGENDAS & NOTES
          %li
            %a(href='/awards.html') &raquo; AWARDS
          %li
            %a(href='/map.html') &raquo; NEIGHBORHOOD MAP
          %li
            %a(href='/picture_gallery.html') &raquo; PICTURE GALLERY
          %li
            %a(href='/resources.html') &raquo; COMMUNITY RESOURCES
      .content
        {{content}}
    .footer
      P.O. Box 641980 San Francisco, CA 94164-1980 |
      %a(href='mailto:lowerpolkneighbors@xemaps.com')
        lowerpolkneighbors@xemaps.com
      | Contact LPN Chair, Ron Case at 351.3900 for enquiries